
/*====================================================================
Component: Spinner
=====================================================================*/

.spinner-hide {
  visibility: hidden;
  display: none;
}

.spinner-show {
  visibility: visible; 
  display: block;
}

